<div class="page-header-container">
    <h2>Create New Driver Account</h2>
</div>
<form action="/office/drivers" method="POST">
    <%- include("./_form_fields") %>
    <a class="btn btn-cancel" href="/drivers">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>