<div class="page-header-container">
    <h2>Edit Workplace</h2>
</div>
<form action="/office/workplaces/<%= workplace.id %>?_method=PUT" method="POST">
    <%- include("./_form_fields") %>
    <a class="btn btn-cancel" href="/office/workplaces">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</form>