<h2>Create New Workplace</h2>
<%- include("../../partials/errorMessage") %>
<form action="/office/workplaces" method="POST">
    <%- include("./_form_fields") %>

    <a href="/office/workplaces">Cancel</a>
    <button type="submit">Create</button>
</form>