<h2>New Workplace</h2>
<form action="/office/workplaces" method="POST">
    <%- include("./_form_fields") %>

    <a href="/office/workplaces">Cancel</a>
    <button type="submit">Create</button>
</form>