<div class="show-wrapper">
    <div class="page-header-container">
        <h2>Dashboard</h2>
    </div>
    
    <div class="driver-dashboard-component" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
    </div>
    
    <div class="driver-dashboard-component" id="average-hourly-rate"></div>
    
    <canvas class="driver-dashboard-component" id="total-hours-bar-chart"></canvas>

    <canvas class="driver-dashboard-component" id="total-earnings-bar-chart"></canvas>

    <canvas class="driver-dashboard-component" id="pie-chart"></canvas>
</div>