<h2>Dashboard</h2>

<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>

<div id="average-hourly-rate"></div>

<div style="border: 2px solid red">
    <canvas id="total-hours-bar-chart" style="width: 600px; height: 200px; border: 2px solid green"></canvas>
</div>

<div style="border: 2px solid red">
    <canvas id="total-earnings-bar-chart" style="width: 600px; height: 200px; border: 2px solid green"></canvas>
</div>

<div style="border: 2px solid red">
    <canvas id="pie-chart" style="width: 600px; height: 200px; border: 2px solid green"></canvas>
</div>