<header>
    <nav>
        <a href="/">Mainstream Timesheet</a>
        <ul>
            <li><a href="/drivers">Dashboard</a></li>
            <li><a href="/drivers/addShift">Add Shift</a></li>
        </ul>
    </nav>
</header>

