<div class="login-wrapper">
    <h2>Login</h2>
    <% if(messages.error) { %>
        <%= messages.error %>
        <% } %>
        <form action="/login" method="POST">
            <div class="login-row">
                <section class="login-item">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" value="<%= locals?.user?.email%>" autocomplete="email">
                </section>
                <section class="login-item">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" value="<%= locals?.user?.password %>" autocomplete="current-password">
                </section>
                <section class="login-item">
                    <button class="btn btn-primary" type="submit">Login</button>
                </section>
            </div>
        </form>
    </div>