<header>
    <nav>
        <div class="logout-container">
            <!-- <li><a href="/">Mainstream Timesheet</a></li> -->
            <% if (loggedInAs) { %>
                <li><%- loggedInAs %></li>
            <% } %>
            <%- include("./logout") %>
        </div>
    </nav>
</header>