<header>
    <nav>
        <!-- <a href="/">Mainstream Timesheet</a> -->
        <ul>
            <li><a href="/office">Dashboard</a></li>
            <li><a href="/office/new">Add Office Admin</a></li>
            <li><a href="/office/view">Office Admins</a></li>
            <li><a href="/office/drivers/new">Add Driver</a></li>
            <li><a href="/office/drivers">Drivers</a></li>
            <li><a href="/office/workplaces/new">Add Workplace</a></li>
            <li><a href="/office/workplaces">Workplaces</a></li>
        </ul>
    </nav>
</header>

