<header>
    <nav>
        <a href="/">Mainstream Timesheet</a>
        <ul>
            <li><a href="/office">Dashboard</a></li>
            <li><a href="/office/newDriver">Add Driver</a></li>
            <li><a href="/office/drivers">Drivers</a></li>
            <li><a href="/office/newWorkplace">Add Workplace</a></li>
            <li><a href="/office/workplaces">Workplaces</a></li>
        </ul>
    </nav>
</header>

