<div class="login-row">
  <div class="login-item">
    <h1>Welcome to the Mainstream Timesheet App</h1>
    <div class="continue-as-container">
      <a class="btn btn-primary" href="/driver-login">Continue as a Driver</a>
      <a class="btn btn-primary" href="/office-login"
        >Continue as an Office Admin</a
      >
    </div>
  </div>
</div>
