<h2>Create New Office Admin Account</h2>
<form action="/office" method="post">
    <%- include("./_form_fields") %>
    <section>
        <a href="/office">Cancel</a>
        <button type="submit">Create</button>
    </section>
</form>