<div class="page-header-container">
    <h2>Create New Office Admin Account</h2>
</div>
<form action="/office" method="post">
    <%- include("./_form_fields") %>
    <section>
        <a class="btn btn-cancel" href="/office">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </section>
</form>