<div class="show-wrapper">
    <div class="page-header-container">
        <h2><%= officeAdmin.name %></h2>
    </div>
    <div class="view-row">
        <div class="view-title">E-mail</div>
        <div><%= officeAdmin.email %></div>
    </div>
</div>